@import url('https://fonts.googleapis.com/css2?family=Eater&display=swap');
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(112, 9, 114, 0);
    margin: 0%;

}
#encabezado-principal{

     font-family: "Eater", serif;
    background-color: rgb(199, 53, 155);
    color: rgb(3, 2, 3);
    padding: 20px;
    text-align: center;

}
#encabezado-principal nav a{
    margin: 20px;
text-decoration: none;


}
section{
background-color: rgb(218, 125, 194);
margin: 20px
padding: 30px;
border-radius: 10px;
box-shadow: 0px 0px 10px

}
.tarjeta{
    background-color: rgb(206, 219, 230);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;

}
#formulario-contacto input{
    width: 100%;
    margin-bottom: 10px
    padding 8px;

}

img{height: 350px;
}
.btn-principal{
    background-color: rgb(204, 138, 184);
    color: aliceblue;
    border: none;
    padding: 10px;
        cursor: pointer

}
#pie-pagina{
    background: black;
    color: aliceblue;
    text-align: center;
    padding: 15%;
    margin-top: 30px;
}